@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-on-surface font-body-md selection:bg-primary-container selection:text-on-primary-container;
  }
}

@layer components {
  .glass {
    @apply bg-white/75 backdrop-blur-2xl border border-white/20;
  }
  .organic-shape-1 {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  .organic-shape-2 {
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  }
}
